APP_NAME=TrueFact News API
APP_ENV=development
DEBUG=true

# Use this during local development
DATABASE_URL=sqlite:///./truefact_news.db

# PostgreSQL example for later:
# DATABASE_URL=postgresql+psycopg://postgres:password@localhost:5432/truefact_news